<!DOCTYPE HTML>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="cms_id" content="0008h5_auto_story" />
    <meta name="model_url" content="${modelUrl}" />
    <title>【汽车奇闻】网易汽车</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <script>
        !function(x) {
            var doc=x.document, docEl=doc.documentElement;
            var font_size=docEl.getBoundingClientRect().width/750*40;
            font_size=font_size>40 ? 40 : font_size;
            docEl.style.fontSize=font_size+'px';
        }(window);
    </script>
</head>
<body>
<test></test>
<script src="/vue.js"></script>
<script src="/main.js"></script>
</body>

</html>
